<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
        
  <appender name="FileAppender" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="c:/Temp/platform.log"/>
    <param name="DatePattern" value="yyyy-MM-dd"/>
    <param name="Append" value="true"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %p - %m%n"/>
    </layout>
  </appender>

	<appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%c] %p - %m%n"/>
      <param name="Encoding" value="GBK"/>
    </layout>
  </appender>
  
  <category name="org" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="FileAppender"/>
		<appender-ref ref="ConsoleAppender" />
  </category>
  
  <category name="net" additivity="false">
		<priority value="WARN" />
		<appender-ref ref="FileAppender"/>
		<appender-ref ref="ConsoleAppender" />
  </category>
  
  <category name="com.template.filter.SecurityFilter" additivity="false">
		<priority value="INFO" />
		<appender-ref ref="FileAppender"/>
		<appender-ref ref="ConsoleAppender" />
  </category>
  
  <root>
    <priority value ="DEBUG"/>
    <appender-ref ref="ConsoleAppender"/>
    <appender-ref ref="FileAppender"/>
  </root>
  

</log4j:configuration>
